<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.train.mapper.TrainMapper">
    
    <resultMap type="Train" id="TrainResult">
        <result property="id"    column="id"    />
        <result property="trainNumber"    column="train_number"    />
        <result property="trainType"    column="train_type"    />
        <result property="trainTag"    column="train_tag"    />
        <result property="trainBrand"    column="train_brand"    />
        <result property="startStation"    column="start_station"    />
        <result property="endStation"    column="end_station"    />
        <result property="startRegion"    column="start_region"    />
        <result property="endRegion"    column="end_region"    />
        <result property="saleTime"    column="sale_time"    />
        <result property="saleStatus"    column="sale_status"    />
        <result property="departureTime"    column="departure_time"    />
        <result property="arrivalTime"    column="arrival_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap id="TrainResultAndroid" type="TrainResDTO">
        <result column="id" property="id"/>
        <result column="train_number" property="trainNumber"/>
        <result column="train_type" property="trainType"/>
        <result column="train_tag" property="trainTag"/>
        <result column="train_brand" property="trainBrand"/>
        <result column="start_station" property="startStation"/>
        <result column="end_station" property="endStation"/>
        <result column="start_region" property="startRegion"/>
        <result column="end_region" property="endRegion"/>
        <result column="sale_time" property="saleTime"/>
        <result column="sale_status" property="saleStatus"/>
        <result column="departure_time" property="departureTime"/>
        <result column="arrival_time" property="arrivalTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="business_seat" property="businessSeat"/>
        <result column="first_seat" property="firstSeat"/>
        <result column="second_seat" property="secondSeat"/>
        <result column="business_price" property="businessPrice"/>
        <result column="first_price" property="firstPrice"/>
        <result column="second_price" property="secondPrice"/>
    </resultMap>


    <sql id="selectTrainVo">
        select id, train_number, train_type, train_tag, train_brand, start_station, end_station, start_region, end_region, sale_time, sale_status, departure_time, arrival_time, create_time, update_time, del_flag from t_train
    </sql>

    <sql id="businessSeatCount">
        (SELECT COALESCE(SUM(c.seat_count - c.sold_seats), 0) FROM t_carriage c WHERE c.train_id = t.id AND c.carriage_type = 0)
    </sql>

    <sql id="firstSeatCount">
        (SELECT COALESCE(SUM(c.seat_count - c.sold_seats), 0) FROM t_carriage c WHERE c.train_id = t.id AND c.carriage_type = 1)
    </sql>

    <sql id="secondSeatCount">
        (SELECT COALESCE(SUM(c.seat_count - c.sold_seats), 0) FROM t_carriage c WHERE c.train_id = t.id AND c.carriage_type = 2)
    </sql>

    <sql id="businessSeatPrice">
        (SELECT COALESCE(max(c.price), 0) FROM t_carriage c WHERE c.train_id = t.id AND c.carriage_type = 0)
    </sql>

    <sql id="firstSeatPrice">
        (SELECT COALESCE(max(c.price), 0) FROM t_carriage c WHERE c.train_id = t.id AND c.carriage_type = 1)
    </sql>

    <sql id="secondSeatPrice">
        (SELECT COALESCE(max(c.price), 0) FROM t_carriage c WHERE c.train_id = t.id AND c.carriage_type = 2)
    </sql>

    <sql id="selectTrainV1">
        SELECT
        t.id,
        t.train_number,
        t.train_type,
        t.train_tag,
        t.train_brand,
        t.start_station,
        t.end_station,
        t.start_region,
        t.end_region,
        t.sale_time,
        t.sale_status,
        t.departure_time,
        t.arrival_time,
        t.create_time,
        t.update_time,
        t.del_flag,
        <include refid="businessSeatCount"/> AS business_seat,
        <include refid="firstSeatCount"/> AS first_seat,
        <include refid="secondSeatCount"/> AS second_seat,
        <include refid="businessSeatPrice"/> AS business_price,
        <include refid="firstSeatPrice"/> AS first_price,
        <include refid="secondSeatPrice"/> AS second_price
        FROM t_train t
    </sql>

    <select id="selectTrainList" parameterType="Train" resultMap="TrainResultAndroid">
        <include refid="selectTrainV1"/>
        <where>
            <if test="trainNumber != null  and trainNumber != ''"> and train_number = #{trainNumber}</if>
            <if test="trainType != null "> and train_type like concat('%', #{trainType}, '%')</if>
            <if test="trainTag != null  and trainTag != ''"> and train_tag like concat('%', #{trainTag}, '%')</if>
            <if test="trainBrand != null  and trainBrand != ''"> and train_brand like concat('%', #{trainBrand}, '%')</if>
            <if test="startStation != null  and startStation != ''"> and start_station like concat('%', #{startStation}, '%')</if>
            <if test="endStation != null  and endStation != ''"> and end_station like concat('%', #{endStation}, '%')</if>
            <if test="startRegion != null and startRegion.trim() != ''">
                AND start_region LIKE CONCAT('%', #{startRegion}, '%')
            </if>
            <if test="endRegion != null and endRegion.trim() != ''">
                AND end_region LIKE CONCAT('%', #{endRegion}, '%')
            </if>
            <if test="saleTime != null "> and sale_time = #{saleTime}</if>
            <if test="saleStatus != null "> and sale_status = #{saleStatus}</if>
            <if test="departureTime != null "> and departure_time = #{departureTime}</if>
            <if test="arrivalTime != null "> and arrival_time = #{arrivalTime}</if>
        </where>
    </select>
    
    <select id="selectTrainById" parameterType="String" resultMap="TrainResultAndroid">
        <include refid="selectTrainV1"/>
        where id = #{id}
    </select>

    <insert id="insertTrain" parameterType="Train" useGeneratedKeys="true" keyProperty="id">
        insert into t_train
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trainNumber != null">train_number,</if>
            <if test="trainType != null">train_type,</if>
            <if test="trainTag != null">train_tag,</if>
            <if test="trainBrand != null">train_brand,</if>
            <if test="startStation != null">start_station,</if>
            <if test="endStation != null">end_station,</if>
            <if test="startRegion != null">start_region,</if>
            <if test="endRegion != null">end_region,</if>
            <if test="saleTime != null">sale_time,</if>
            <if test="saleStatus != null">sale_status,</if>
            <if test="departureTime != null">departure_time,</if>
            <if test="arrivalTime != null">arrival_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trainNumber != null">#{trainNumber},</if>
            <if test="trainType != null">#{trainType},</if>
            <if test="trainTag != null">#{trainTag},</if>
            <if test="trainBrand != null">#{trainBrand},</if>
            <if test="startStation != null">#{startStation},</if>
            <if test="endStation != null">#{endStation},</if>
            <if test="startRegion != null">#{startRegion},</if>
            <if test="endRegion != null">#{endRegion},</if>
            <if test="saleTime != null">#{saleTime},</if>
            <if test="saleStatus != null">#{saleStatus},</if>
            <if test="departureTime != null">#{departureTime},</if>
            <if test="arrivalTime != null">#{arrivalTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateTrain" parameterType="Train">
        update t_train
        <trim prefix="SET" suffixOverrides=",">
            <if test="trainNumber != null">train_number = #{trainNumber},</if>
            <if test="trainType != null">train_type = #{trainType},</if>
            <if test="trainTag != null">train_tag = #{trainTag},</if>
            <if test="trainBrand != null">train_brand = #{trainBrand},</if>
            <if test="startStation != null">start_station = #{startStation},</if>
            <if test="endStation != null">end_station = #{endStation},</if>
            <if test="startRegion != null">start_region = #{startRegion},</if>
            <if test="endRegion != null">end_region = #{endRegion},</if>
            <if test="saleTime != null">sale_time = #{saleTime},</if>
            <if test="saleStatus != null">sale_status = #{saleStatus},</if>
            <if test="departureTime != null">departure_time = #{departureTime},</if>
            <if test="arrivalTime != null">arrival_time = #{arrivalTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTrainById" parameterType="String">
        delete from t_train where id = #{id}
    </delete>

    <delete id="deleteTrainByIds" parameterType="String">
        delete from t_train where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>